<mgl-geojson-source
     id="factsSource"
     [data] = "facts"
 >
 </mgl-geojson-source>
 <mgl-layer
  id="factsFill"
  type="fill"
  source="factsSource"
  [layout]='{visibility: "visible"}'
  [paint]="{
      'fill-opacity': .01,
      'fill-color': '#f28321'
    }"
  (mouseMove)="activateHoverOn($event)"
  (mouseLeave)="disableHover()"
  (click)="onClick($event)"
  ></mgl-layer>
  <mgl-layer
   id="factsLine"
   type="line"
   source="factsSource"
   [layout]='{visibility: "visible"}'
   [paint]="{
     'line-color': '#f28321'
     }"
     ></mgl-layer>
  <mgl-popup
  *ngIf="selectedPoint"
  [lngLat]="selectedCoords"
  (close)="selectedPoint = null">
    <div class = 'factsPopup'>
      <div class = 'label'>{{selectedPoint.properties['ACS_13_5YR_B01002_with_ann_GEO.display-label']}}:</div>
      <div *ngFor = "let p of displayedKeys">
        <div class = 'fact'>
        <div class = 'name'>{{getName(p)}} :</div>
        <span class = 'number'>{{selectedPoint.properties[p]}}</span>
        <span class = 'number' *ngIf='getTotal(p) != null'> out of {{getTotal(p)}} total, {{getPercentage(p)}}</span>
      </div>
        <div class = 'buttonHolder'>
          <button class = 'addButton' (click) = 'sendCoincidence([getName(p), [selectedCoords.lng, selectedCoords.lat]])'>Add</button>
          <p *ngIf = "displayedKeys.length == 1">Click to show all data</p>
        </div>
      </div>
    </div>
  </mgl-popup>
