<mgl-geojson-source
     id="placesSource"
     [data] = "places"
 >
 </mgl-geojson-source>
 <mgl-layer
  id="placesLayer"
  type="symbol"
  source="placesSource"
  [layout]='{visibility: "visible", "icon-image": "shop-15"}'
  (mouseMove)="activateHoverOn($event)"
  (mouseLeave)="disableHover()"
  (click)="onClick($event)"
></mgl-layer>
  <mgl-popup
      *ngIf="selectedPoint"
      [lngLat]="selectedPoint.geometry.coordinates"
      (close)="selectedPoint = null"
    >
    <div class = "placePopup">
      <span class="place">
        <div class="name">{{selectedPoint.properties.name}}</div>
        <br>
        <div class="category">{{selectedPoint.properties.category}}</div>
        <div class="buttonHolder">
          <button class="addButton"
          (click) = 'sendCoincidence([selectedPoint.properties.name, [selectedPoint.geometry.coordinates.lng,selectedPoint.geometry.coordinates.lat]])'>
          Add</button>
        </div>
      </span>
    </div>
    </mgl-popup>
    <mgl-popup
        *ngIf="clickedPoint"
        [lngLat]="clickedPoint.geometry.coordinates"
        (close)="clickedPoint = null"
      >
      <div class = "placePopup">
        <span class="place">
          <div class="name">{{clickedPoint.properties.name}}</div>
          <br>
          <div class="category">{{clickedPoint.properties.category}}</div>
          <div class="buttonHolder">
            <button class="addButton"
            (click) = 'sendCoincidence([clickedPoint.properties.name, clickedPoint.geometry.coordinates])'>
            Add</button>
          </div>
        </span>
      </div>
      </mgl-popup>
