<mgl-geojson-source
    *ngIf="coincidences"
     id="coincidenceSource"
     [data] = "coincidences"
 >
 </mgl-geojson-source>
<mgl-layer
*ngIf="coincidences"
 id="coincidencesFill"
 type="line"
 source="coincidenceSource"
 [layout]='{visibility: "visible", "line-join": "round", "line-cap": "round"}'
 [paint]="{
   'line-color': '#e8f442',
   'line-width': 8
   }"
 (mouseMove)="activateHoverOn($event)"
 (mouseLeave)="disableHover()"
 (click)="onClick($event)"
 ></mgl-layer>
<mgl-control position = 'top-left' class = 'control'>
  <div class = 'coincidences' *ngIf="textLength > 0">
    <span class = 'coincidence'*ngFor='let t of textIndices'>
        <div ngDraggable *ngIf="t%2==0" class="coincidenceText" (started)="selectIndex(t)" [ngClass]="{'activeText' : selectedIndex == t}">{{t+1}}. {{coincidence.properties[t]}}</div>
        <div ngDraggable *ngIf="t%2==1" class="conjunction">{{t+1}}.  <input #textEnter type='text' value='{{coincidence.properties[t]}}' (keyup) = 'updateText(t,textEnter.value)'></div>
    </span>
  </div>
</mgl-control>
<mgl-control position = 'top-right'>
  <div class="buttons">
    <button *ngIf="textLength > 1" (click) = 'addCoincidence()' class="coincidenceButton">Add</button>
    <br>
    <button *ngIf="selectedIndex != null" (click) = 'removeCoincidence()' class="coincidenceButton">Remove</button>
  </div>
</mgl-control>
<mgl-popup
    *ngIf="selectedPoint"
    [lngLat]="selectedCoords"
    (close)="selectedPoint = null"
  >
  <div class="coincidencesPopup">
    <div *ngFor="let t of objectKeys(selectedPoint.properties)">
      <p class="text">{{selectedPoint.properties[t]}}</p>
    </div>
    <div class = "buttonHolder">
      <button class="addButton"
      (click) = 'addText(selectedPoint.properties[t]); addCoords(selectedCoords);'>
      Add</button>
    </div>
  </div>
  </mgl-popup>
  <mgl-popup
      *ngIf="clickedPoint"
      [lngLat]="clickedCoords"
      (close)="clickedPoint = null"
    >
    <div class="coincidencesPopup">
      <div *ngFor="let t of objectKeys(clickedPoint.properties)">
        <p class="text">{{clickedPoint.properties[t]}}</p>
      </div>
      <div class="buttonHolder">
        <button class="addButton"
        (click) = 'addTextProperties(clickedPoint.properties); addCoords(clickedCoords);'>
        Add</button>
      </div>
    </div>
    </mgl-popup>
