
<mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[13]"
    [center]="[-106.6504, 35.0844]"
    [cursorStyle]="cursorStyle"
  >
    <app-coincidence (cursorStyle)='cursorStyle = $event' [upCoincidence]='upCoincidence' [accessed]='accessed' (upAccessed)='upAccessed = $event'>
      <app-fact (cursorStyle)='cursorStyle = $event' [accessed]='accessed' [upAccessed]='upAccessed' (upCoincidence)='upCoincidence = $event'>
        <app-place (cursorStyle)='cursorStyle = $event' (accessed)='accessed = $event' (upCoincidence)='upCoincidence = $event'>
        </app-place>
        <app-tweet (cursorStyle)='cursorStyle = $event' (accessed)='accessed = $event' (upCoincidence)='upCoincidence = $event'>
        </app-tweet>
      </app-fact>
    </app-coincidence>
  </mgl-map>
