<mgl-geojson-source
     id="tweetsSource"
     [data] = "tweets"
 >
 </mgl-geojson-source>
 <mgl-layer
  id="tweetsLayer"
  type="symbol"
  source="tweetsSource"
  [layout]='{visibility: "visible", "icon-image": "circle-15"}'
  (mouseMove)="activateHoverOn($event)"
  (mouseLeave)="disableHover()"
  (click)="onClick($event)"
  ></mgl-layer>
  <mgl-popup
      *ngIf="selectedPoint"
      [lngLat]="selectedPoint.geometry.coordinates"
      (close)="selectedPoint = null"
    >
    <span class="tweet">
      <p class="name">{{selectedName}} says:</p>
      <p class="text">{{selectedPoint.properties.tweet}}</p>
      <p class="time">{{selectedPoint.properties.time}}</p>
      <button class="addButton"
      (click) = 'sendCoincidence([selectedPoint.properties.tweet, selectedPoint.geometry.coordinates])'>
      Add</button>
    </span>
    </mgl-popup>
    <mgl-popup
        *ngIf="clickedPoint"
        [lngLat]="clickedPoint.geometry.coordinates"
        (close)="clickedPoint = null"
      >
      <span class="tweet">
        <p class="name">{{clickedName}} says:</p>
        <p class="text">{{clickedPoint.properties.tweet}}</p>
        <p class="time">{{clickedPoint.properties.time}}</p>
        <button class="addButton"
        (click) = 'sendCoincidence([clickedPoint.properties.tweet, clickedPoint.geometry.coordinates])'>
        Add</button>
      </span>
      </mgl-popup>
